{% extends "layout.html" %}

{% block content %}
<script>
  $(document).ready(function() {
    $('#add_stocks').click(function() {
      $('.ui.modal')
      .modal('show');
    })

    $('#save').click(function() {
       const symbols = $('#symbols').val();
       const symbolsArr = symbols.split('\n');
       for(let i = 0; i < symbolsArr.length; i++) {
         
         $.ajax({
           url: "/stock",
           type: "POST",
           contentType: "application/json",
           data: JSON.stringify({"symbol": symbolsArr[i]}),
           dataType: 'json'
         })
       }
       
      $('.ui.modal')
      .modal('hide');
    })
  })
</script>

<div class="ui input focus">
    <input type="text" placeholder="Filter P/E">
  </div>
  <div class="ui input focus">
    <input type="text" placeholder="Filter Dividend Yield">
  </div>

  <button id="add_stocks" class="ui button">
    Add Stocks
  </button>

  
<table class="ui celled table">
    <thead>
      <tr><th>Symbol</th>
      <th>Price</th>
      <th>Forward P/E</th>
      <th>Forward EPS</th>
      <th>Dividend Yield</th>
      <th>50 Day</th>
      <th>200 Day</th>
      
    </tr></thead>
    <tbody>
      {% for stock in stocks %}
      <tr>
        <td>{{ stock.symbol }}</td>
        <td>{{ stock.price }}</td>
        <td>{{ stock.forward_pe }}</td>
        <td>{{ stock.forward_eps }}</td>
        <td>{{ stock.dividend_yield }}</td>
        <td>{{ stock.ma50 }}</td>
        <td>{{ stock.ma200 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Add Stock Symbol
    </div> 
    <div class="content">
      <div class="ui form">
        <div class="field">
          <label>Enter Stock Symbols. Use a new line for each symbol.</label>
          <textarea id="symbols"></textarea>
        </div>
        
      </div>
    </div>
    <div class="actions">
      <div class="ui positive right labeled icon button" id="save">
        Add Symbols to Screener
        <i class="plus icon"></i>
      </div>
    </div>
  </div>
{% endblock %}